// Заголовки, загальні БЕМ блоки та інше...
.logo {
	img {
		width: rem(60);
		height: rem(54);
	}
	@media (max-width: $mobile) {
		img {
			width: rem(43);
			height: rem(38);
		}
	}
}
.pblock {
	@include adaptiveValue('padding-top', 65, 35);
	@include adaptiveValue('margin-bottom', 65, 35);
	&:last-child {
		@include adaptiveValue('margin-bottom', 130, 100);
	}
}
.title {
	@include adaptiveValue('font-size', 55, 30);
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 1.1px;
}
.sub-title {
	@include adaptiveValue('font-size', 40, 28);
	font-weight: 500;
	line-height: 1.1; /* 44px */
	letter-spacing: rem(0.8);
}
.heading-3 {
	@include adaptiveValue('font-size', 25, 20);
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 0.5px;
}
.heading-4 {
	@include adaptiveValue('font-size', 20, 18);
	font-weight: 500;
	line-height: 1.4; /* 28px */
	letter-spacing: 0.4px;
}
.text {
	@include adaptiveValue('font-size', 17, 16);
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 0.34px;
}
@media (min-width: $mobile) {
	._active-color {
		font-size: rem(17);
		font-style: normal;
		font-weight: 700;
		line-height: 1.4;
		letter-spacing: 0.3px;
		color: #6e9c9f;
	}
}
.swiper-buttons-wrapper {
	& > button {
		// position: relative;
		&::after {
			color: rgb(255, 255, 255);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: rem(16);
			background-color: #509498;
			width: rem(40);
			height: rem(40);
			border-radius: 50%;
			flex: 0 0 rem(40);
		}
	}
}
// ! ANIVATION INPUT

.line-form {
	position: relative;
	height: rem(60);
	// overflow: hidden;

	input {
		width: 100%;
		height: 100%;
		color: rgb(0, 0, 0);
		padding-top: rem(20);
		@media (min-width: $mobile) {
		}
		border: none;
		background-color: #ffffff;
		border-bottom: 1px solid #000000;
		&:focus {
			outline: none;
		}
		transition: all 0.1s;
		@media (any-hover: hover) {
			&:hover {
				border-bottom: rem(1) solid #6e9c9f;
			}
		}
		&._form-error {
			border-bottom: 1px solid red;
		}
	}
	label {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	&__label-name {
		color: #868686;
		font-size: rem(17);
		font-weight: 500;
		line-height: 1.1;
		letter-spacing: 0.34px;
	}
	&__content-name {
		position: absolute;
		bottom: 0px;
		left: 0px;
		padding-bottom: 5px;
		transition: all 0.3s ease;
	}
}
.line-form input:focus + .line-form__label-name .line-form__content-name,
.line-form input:valid + .line-form__label-name .line-form__content-name {
	transform: translateY(-130%);
	font-size: rem(17);
	left: 0px;
	color: #000000;
}
.line-form input:focus .line-form input:valid {
	border-bottom: rem(1) solid #6e9c9f;
	transform: translateX(0%);
}

// !BUTTON CLOSE POPUP
.close-popup-btn {
	img {
		width: rem(20);
		height: rem(20);
	}
	position: absolute;
	top: 10%;
	right: 5%;
	@media (max-width: $mobile) {
		top: 5%;
	}
}
